/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header */
.header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 39px;

}

.header h1 {
    font-size: 24px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info .logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.user-info .welcome-message {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logout-btn {
    padding: 5px 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #c0392b;
}

/* Main Container */
.main-content {
    border: thin solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-left: 120px;
}

.main-content-home {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;
    margin-left: 120px;
}

.main-content-home-conteudos{

    margin-left: 90px;
    margin-top: 10px;
}

/* Titulos das subpáginas */
.sub-paginas-titulos{
    text-align: center;
    margin-bottom: -10px;
}

/* Sidebar Menu */
.sidebar {
    width: 300px;
    background-color: #2c3e50;
    color: white;
    height: calc(100vh - 70px); /* Mantém a altura inicial */
    padding: 20px;
    position: fixed;
    top: 39px;
    overflow-y: auto; /* Permite rolagem vertical */
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #34495e;
    padding: 5px;
    border-radius: 5px;
}

.sidebar::-webkit-scrollbar {
    width: 10px; /* Largura da barra */
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #34495e;  /* Cor da barra de rolagem */
    border-radius: 10px;  /* Borda arredondada */
    border: 2px solid #2c3e50; /* Borda para harmonizar com o fundo */
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #1abc9c; /* Cor ao passar o mouse */
}

.sidebar::-webkit-scrollbar-track {
    background-color: #2c3e50; /* Cor do fundo da barra */
    border-radius: 10px;
}


/* Dashboard Content */
.dashboard-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 300px; /* Espaço para a sidebar */
    background-color: white;
    height: auto; /* Altura ajustável conforme o conteúdo */
}

.dashboard-content-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
    margin-left: 80px;
    background-color: white;
    min-height: calc(100vh - 102px); /* Altura mínima */
    height: auto; /* Altura ajustável conforme o conteúdo */

}

.dashboard-content-form-contact{
    border: 1px solid #ddd;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 1px;
    height: auto; /* Altura ajustável conforme o conteúdo */

}

.dashboard-content-form-contact .form-group {
    width: 100%;
    margin-bottom: 15px;
}

.dashboard-content-form-contact label {
    display: block;
    margin-bottom: 2px;
    font-weight: bold;
}

.dashboard-content-form-contact input[type="text"],
.dashboard-content-form-contact input[type="email"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}


.dashboard-content-grupos-paragrafos{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 30px;
    margin-left: 80px; /* Espaço para a sidebar */
    background-color: white;
    height: calc(100vh - 165px); /* Ajustando a altura da área de conteúdo */
}

.dashboard-content h2 {
    font-size: 26px;
}

input[type="number"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#btnCancelar{
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    background-color: #ff0000;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#btnOk{
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="button"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="button"]:hover {
    background-color: #218838;
}

/* Lista de Contatos */
.contact-list {
    margin-top: 30px;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.contact-list-title{
    margin-left: 18em;
}

.contact-list table {
    width: 100%;
    border-collapse: collapse;
}

.contact-list thead {
    background-color: #8ff1a6;
    color: rgb(70, 67, 67);
}

.contact-list th, 
.contact-list td {
    padding: 13px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.contact-list th {
    font-size: 16px;
    text-transform: uppercase;
}

.contact-list tbody tr:hover {
    background-color: #f1f1f1;
}

.contact-list tbody tr:last-child td {
    border-bottom: none;
}

.contact-list td {
    font-size: 14px;
}

/* Mensagem de ausência de contatos */
.contact-list tbody td[colspan="6"] {
    text-align: center;
    color: #666;
    font-style: italic;
    padding: 30px 0;
}



.resultado {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
