
<!-- sidebar.html -->
<nav class="sidebar">
    <ul>
        <li><a ui-sref="dashboard">Dashboard - Lista de Exercicios</a></li>
        <li><a ui-sref="main.trocarNomes">Exercício 1 - Trocar Nomes</a></li>
        <li><a ui-sref="main.calculadora">Exercício 2 - Calculadora</a></li>
        <li><a ui-sref="main.contador">Exercício 3 - Contador</a></li>
        <li><a ui-sref="main.calculadoraImc">Exercício 4 - Calculadora IMC</a></li>
        <li><a ui-sref="main.calculadoraIdade">Exercício 5 - Calculadora de Idade</a></li>
        <li><a ui-sref="main.palindromo">Exercício 6 - Palindromo</a></li>
        <li><a ui-sref="main.conversorDeUnidade">Exercício 7 - Conversor de Unidade</a></li>
        <li><a ui-sref="main.jogoDeAdivinharONumero">Exercício 8 - Jogo de Adivinhar o Número</a></li>
        <li><a ui-sref="#exercicio2">Exercício...</a></li>
        <li><a ui-sref="#exercicio3">Exercício...</a></li>
    </ul>
</nav>
