<div class="content">
    <div class="mdashboard-content">
        <h3 class="sub-paginas-titulos">Calculadora IMC</h3>

        <div class="dashboard-content-form">
            <div>
                <!-- ng-model='' você atribui a variavel, neste caso colocamos valores (objeto)-->
                 <p>Peso</p>
                <input type="number" ng-model="dadosPessoa.peso"><br><br>
                <p>Altura</p>
                <input type="number" ng-model="dadosPessoa.altura"><br><br> 
            </div>

            <div>
                <input type="button" value="Calcular IMC" ng-click="calcularIMC()"> 
            </div>

            <div class="resultado">
                <p>IMC: {{imcCalculado}}</p>
                <p>Classificação: {{classificacao}}</p>
            </div>  
        </div>
    </div>
</div>